block articles_carousel
  .d-flex.col-12.mx-auto
      .col-2.d-flex.align-items-center.justify-content-end.text-end
        //- button.carousel-control-prev(type='button',  data-bs-target='#' + car_id, data-bs-slide='prev')
        //-   span.carousel-control-prev-icon(aria-hidden='true')
        //-   span.visually-hidden Previous
        .float-start
          a.p-0.btn.btn-lg(role='button', data-bs-target='#' + car_id, data-bs-slide='prev')
            svg( xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16")
              path(d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z")
      .carousel.col-10.col-md-9.col-lg-8.carousel-dark.slide(id=car_id, data-bs-ride='carousel')
        .carousel-inner
          each art in articles
            .carousel-item.text-center(data-bs-interval='10000')
              .d-flex.align-items-start.flex-column(style='min-height:450px')
                .logo_wrapper.text-center.mb-auto.mt-5.col-12
                  img.company_logo.mx-auto(style='wid75%; max-width:600px;', src='/images/' + art.article_image_str, alt='Image for ' + art.article_title)
                .information_wrapper.my-0.col-8.mx-auto.col-12.pt-4
                  .text-center.justify-content-center
                    p.fw-bold.text-center.my-0 #{art.article_title}
                    p.text-center.my-0 #{art.article_subtitle}
                    a.btn.btn-outline-dark.mt-4.mb-5(target='_blank', href=art.article_link, role='button') View
        .carousel-indicators 
          button.active(type='button', data-bs-target='#' + car_id, data-bs-slide-to=0, aria-current='true', aria-label=articles[0].article_title)
          - for (var i = 1; i < articles.length; i=i+1) {
            button(type='button',  data-bs-target='#' + car_id, data-bs-slide-to=i, aria-label=articles[i].article_title)
          - }
      .col-2.col-md-1.d-flex.align-items-center
        .float-start
          a.p-0.btn.btn-lg(role='button', data-bs-target='#' + car_id, data-bs-slide='next')
            svg(xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16")
              path(d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z") 